.content {
  padding-top: 0
}

.popover-header {
  margin-top: 0;
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: #f7f7f7;
}

.slideout-right {
  box-shadow: 5px 0 15px -6px #000 inset;
}

.slideout-left {
  box-shadow: -5px 0 15px -6px #000 inset;
}

.slideout {
  background: darken($black-color, 0.8);
}

.slideoutHandle {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  cursor: pointer;
  color: #ffffff;
}

.slideoutHandle-left {
  left: 0;
  border-bottom-right-radius: 4px;
}

.slideoutHandle-right {
  right: 0;
  border-bottom-left-radius: 4px;
}

.content-header-scene {
  padding-top: 120px;
  margin-bottom: -130px;
}

.logo {
  font-weight: 700;
  font-family: inherit;
}

.badge-xs {
  padding: 0 3px;
  max-width: 30px;
  font-size: 9px;
}

.btn-xs {
  padding: 2px 7px;
  max-width: 30px;
  font-size: 12px;
}

.btn-xl, .btn-group-xl > .btn {
  padding: 22px;
  line-height: 46px;
  font-size: 46px;
}

a.text-white {
  &:hover {
    opacity: 1;
  }
}

.btn-progress {
  span.progress {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #00ff00;
    opacity: 0.6;
    z-index: -1;
  }
  z-index: 0;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.box-wrapper {
  max-height: 70px;
  overflow: hidden;
  position: relative;

  &::before {
    background-image: linear-gradient(top, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 1) 100%);
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
    border-radius: 0 0 6px 6px;
  }
  .avSource {
    cursor: grab;
  }
  .avSource.ui-draggable-dragging {
    cursor: grabbing;
  }
  
  &.visible {
    max-height: 2000px;

    &::before {
      opacity: 0;
    }

    .avSource {
      z-index: 2;
    }
    .avTarget {
      z-index: 2;
    }
  }
  &.animated {
    transition: max-height 500ms;
    &::before {
      transition: opacity 500ms;
    }
  }
}

.box.transition-dark-bottom {
  .box-header, .box-body {
    position: relative;
    z-index: 3;
  }
  &::after {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.user-entry {
  .talking-indicator {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 3px solid red;
    -webkit-transition: all 2s linear;
    -webkit-transform: scale(0.435);
    position: absolute;
    top: -30px;
    left: -30px;
  }
  .talking-indicator.zoom {
    opacity: 0;
    -webkit-transform: none;
  }
}
.dropdown-menu {
  transition: none;
}

.tally-indicators {
  user-select: none;
  .badge-pill {
    margin-right: 1px;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    line-height: 14px;
  cursor: pointer;
  }
}

.puff {
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(../images/puff.png) no-repeat;
  z-index: 50;
}

#servers .actions {
  width: 16px;
}

#log .log-entry {
  p {
    font-size: 90%;
  }
  span {
    font-size: 70%
  }
  &:not(:last-child) {
    padding-bottom: 9px;
  }
}

.tabs-box {
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  padding: 10px 20px 0px 20px;
  color: inherit;
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
}

.wrapper {
  position: relative;
}

html.popout {
  &, body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
  }
  .box {
    box-shadow: none;
    border-radius: none;
    border: none;
  }
  .btn-popout {
    display: none
  }
}

.mixer-popout {
  .content-header-scene {
    padding-top: 120px;
    margin-bottom: -180px;
  }

  .bg-mixer {
    background-color: #2f363d;
  }

  .mixer-label {
    width: 40px;
  }

  .tbar {
    width: 300px;
    .tbar-handle {
      background: #74818d;
      border: none;
      color: #ffffff;
      width: 2em;
      height: 5.775em;
      top: 50%;
      margin-top: -2.8875em;
      text-align: center;
      line-height: 5.775em;
      &:hover {
        background: #5d6771;
      }
      &:active, &:focus {
        background: #545b62;
      }
    }
  }
}

#routers {
  .output-label {
    width: 57px;
  }
}

@media (max-width: 767px) {
  .tabs-box {
    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
  }
}

.faa-beat {
  animation: faa-beat 1s infinite linear;
}

@keyframes faa-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
    color: red;
  }

  100% {
    transform: scale(1);
  }
}

.faa-ring {
  animation: faa-ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

@keyframes faa-ring {
  0% {
    transform: rotate(-15deg);
  }

  8% {
    transform: rotate(15deg);
  }

  16% {
    transform: rotate(-18deg);
  }

  24% {
    transform: rotate(18deg);
  }

  32% {
    transform: rotate(-22deg);
  }

  40% {
    transform: rotate(22deg);
  }

  48% {
    transform: rotate(-18deg);
  }

  56% {
    transform: rotate(18deg);
  }

  64% {
    transform: rotate(-12deg);
  }

  72% {
    transform: rotate(12deg);
  }

  80% {
    transform: rotate(0deg);
  }
}