.content {
  padding-top: 0
}

.content-header-scene {
  padding-top: 120px;
  margin-bottom: -130px;
}

.logo {
  font-weight: 700;
  font-family: inherit;
}

.box-wrapper {
  max-height: 70px;
  overflow: hidden;
  position: relative;

  &::before {
    background-image: linear-gradient(top, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 1) 100%);
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
  }
  &.visible {
    max-height: 2000px;

    &::before {
      opacity: 0;
    }
  }
  &.animated {
    transition: max-height 500ms;
    &::before {
      transition: opacity 500ms;
    }
  }
}

.box-header {
  .dropdown-menu {
    z-index: 4;
  }
}

.avSource {
  cursor: grab;
}

.avSource.ui-draggable-dragging {
  cursor: grabbing;
}

.user-entry {
  .talking-indicator {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 3px solid red;
    -webkit-transition: all 2s linear;
    -webkit-transform: scale(0.435);
    position: absolute;
    top: -30px;
    left: -30px;
  }
  .talking-indicator.zoom {
    opacity: 0;
    -webkit-transform: none;
  }
}
.dropdown-menu {
  transition: none;
}

.tally-indicators .badge-pill {
  margin-right: 1px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  line-height: 14px;
}

.puff {
  cursor: pointer;
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(../images/puff.png) no-repeat;
  z-index: 50;
}

#servers .actions {
  width: 16px;
}

#log .log-entry {
  p {
    font-size: 90%;
  }
  span {
    font-size: 70%
  }
  &:not(:last-child) {
    padding-bottom: 9px;
  }
}

.tabs-box {
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  padding: 10px 20px 0px 20px;
  color: inherit;
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
}

html.popout {
  &, body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
  }
  .box {
    box-shadow: none;
    border-radius: none;
    border: none;
  }
  .btn-popout {
    display: none
  }
}

@media (max-width: 767px) {
  .tabs-box {
    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
  }
}

.faa-beat {
  animation: faa-beat 1s infinite linear;
}

@-webkit-keyframes faa-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes faa-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.faa-ring {
  animation: faa-ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

@keyframes faa-ring {
  0% {
    transform: rotate(-15deg);
  }

  8% {
    transform: rotate(15deg);
  }

  16% {
    transform: rotate(-18deg);
  }

  24% {
    transform: rotate(18deg);
  }

  32% {
    transform: rotate(-22deg);
  }

  40% {
    transform: rotate(22deg);
  }

  48% {
    transform: rotate(-18deg);
  }

  56% {
    transform: rotate(18deg);
  }

  64% {
    transform: rotate(-12deg);
  }

  72% {
    transform: rotate(12deg);
  }

  80% {
    transform: rotate(0deg);
  }
}