.dropdown-menu {
  transition: none;
}

.tally-indicators .badge-pill {
  margin-right: 1px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  line-height: 14px;
}

.puff {
  cursor: pointer;
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(../images/puff.png) no-repeat;
  z-index: 50;
}

#servers .actions {
  width: 16px;
}

#log p {
  margin-bottom: 0;
}

.tabs-box {
  border-radius: 6px 6px 0 0;
  padding: 10px 20px 0px 20px;
  color: inherit;
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .tabs-box {
    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
  }
}

.fa-beat {
  -webkit-animation: fa-beat 1s infinite linear;
  animation: fa-beat 1s infinite linear;
}

@-webkit-keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}